astroid==2.15.8
black==23.9.1
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
coverage==7.3.1
dill==0.3.7
flake8==6.1.0
Flask==2.3.3
gunicorn==21.2.0
idna==3.4
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pluggy==1.3.0
pycodestyle==2.11.0
pyflakes==3.1.0
pylint==2.17.6
pytest==7.4.2
pytest-cov==4.1.0
pytest-mock==3.11.1
requests==2.31.0
tomlkit==0.12.1
urllib3==2.0.5
Werkzeug==2.3.7
wrapt==1.15.0
